.header {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 10px 20px; 
  background-color: #333;
  color: #fff;
  position: relative; 
}

.header-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem; 
  font-weight: 600;
  margin: 0; 
}

.header-nav {
  display: flex;
  gap: 20px;
  position: absolute; 
  right: 20px; 
}

.nav-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem; 
  font-weight: 600;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.nav-button:hover {
  text-decoration: underline;
}

/* Media query for smaller screens */
@media (max-width: 1024px) {
  .header {
    flex-direction: column; /* Stack elements vertically */
    padding: 20px; /* Adjust padding */
  }

  .header-title {
    margin-bottom: 10px; /* Add space between title and nav */
    margin-right: 10px;
  }

  .header-nav {
    position: static; /* Remove absolute positioning */
    flex-direction: column; /* Stack nav buttons vertically */
    gap: 10px; /* Reduce gap between buttons */
  }

  .nav-button {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }
}