.linkedin-posts-carousel {
    margin: 20px auto; /* Center the carousel horizontally */
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1400px; /* Set a maximum width to make it less wide */
  }
  
  .linkedin-post {
    text-align: center;
    padding: 10px; /* Add padding to separate the posts */
  }
  
  .linkedin-iframe {
    width: 90%;
    height: 450px; /* Increased height to make it vertically larger */
    border: none;
    border-radius: 8px;
  }
  
  .custom-arrow {
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .custom-arrow:hover {
    color: #0073e6;
  }