html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 1em 0;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 1em;
  text-decoration: none;
}

main {
  flex: 1; /* This makes the main content area expand to take available space */
  padding: 2em;
}

section {
  margin-bottom: 2em;
}

.project {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  margin-top: auto; /* Ensure the footer pushes to the bottom */
}